nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: #0089a1;
    padding: 20px;
    font-weight: bold;
}

nav a{
    text-decoration: none;
    color: #FFF;
}