.small{
    width: 40%;
    filter: sepia(1);
    margin: 20px auto;
    cursor: pointer;
}

.big{
    width: 80%;
    box-shadow: 5px 5px 12px 2px gray;
    padding: 10px;
    margin: 20px auto;
    cursor: pointer;
    box-sizing: border-box;
}